.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    background: rgb(2, 122, 255);
    width: 70%; 
    height: 100%;
    overflow-y: auto;
    transition: transform 0.3s ease-in-out; 
    transform: translateX(-100%); 
}

.hide {
    transform: translateX(100%);
}

.show {
    transform: translateX(0);
}


.closeSidebar{
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    margin: 1.5rem;
    font-size: 40px;
    background: transparent;
    color: #fff;
    cursor: pointer;
}

.sidebarContent{
    display: flex;
    width: 90%;
    margin: 10rem auto;
    flex-direction: column;
    text-align: center;
}


.sidebarContent > *{
    width: 50%;
    text-align: center;
    margin: 1rem auto;
}
.sidebarUsernameDisplay > h2{
    color: #fff;
}

.date{
    color: #fff;
}